/* components/theme.css */
* {
    /* colors */
    --base-white: #ffffff;
    --base-black: #000000;
    --primary-900: #1dbf73;
    --primary-100: #e9f9f1;
    --grey-50: #f6f6f6;
    --grey-100: #f2f2f2;
    --grey-200: #e6eaef;
    --grey-300: #c3c5c8;
    --grey-400: #8692a6;
    --grey-500: #696f79;
    --grey-600: #4a4a4a;
    --grey-700: #4f4f4f;
    --grey-800: #333333;
    --grey-900: #1e1e1e;

    --warning-300: #ffcb31;
    --error-500: #ff5353;

    --dark-bg: #1e1f1c;
    /* social */
    --twitter-blue: #1da1f2;
    --whatsapp-green: #25d366;
    --face-book-blue: #1877f2;
    --linkedin-blue: #2867b2;
}

.fa-star.empty {
    color: var(--grey-300);
}

body.dark-mode {
    background-color: var(--dark-bg);
}

body.dark-mode nav {
    border-bottom: 1px solid var(--grey-800);
    box-shadow: 0 5px 10px 0px var(--grey-800);
}

body.dark-mode .userProfile.opened .profile-menu {
    box-shadow: 0 5px 15px 0 var(--grey-800);
    background-color: var(--dark-bg);
}

body.dark-mode .profile-menu .user__info h3 {
    color: var(--grey-400);
}

body.dark-mode .profile-menu .user__info p {
    color: var(--grey-500);
}

body.dark-mode .profile-menu ul li:hover {
    background-color: var(--grey-500);
}

body.dark-mode .profile-menu ul li:hover i,
body.dark-mode .profile-menu ul li:hover P {
    color: var(--dark-bg);
}

body.dark-mode .profile-menu ul #language {
    color: var(--grey-300);
}

body.dark-mode .sidebar.active {
    background-color: var(--dark-bg);
}

body.dark-mode .feed__title h1 {
    color: var(--grey-200);
}

body.dark-mode .feed h2 {
    color: var(--grey-200);
}

body.dark-mode .carousel__indicators div {
    background-color: var(--grey-500);
}

body.dark-mode .carousel__indicators div.active {
    background-color: var(--grey-200);
}
body.dark-mode .feed__description p {
    color: var(--grey-300);
}
body.dark-mode .feed__services .select {
    border-color: var(--grey-600);
}
body.dark-mode .feed__services .select-all__wrapper label {
    color: var(--grey-500);
}
body.dark-mode .feed__services .select-item__wrapper label {
    color: var(--grey-300);
}

body.dark-mode .service__item .details div {
    background-color: var(--grey-800);
}

body.dark-mode .feed__purchase .purchase .counter span {
    color: var(--grey-300);
}
body.dark-mode .feed__purchase .purchase .total {
    color: var(--grey-300);
}

body.dark-mode .feed__purchase .purchase .counter .minus,
body.dark-mode .feed__purchase .purchase .counter .plus {
    background-color: var(--grey-800);
    box-shadow: 0px 2px 3px var(--base-black);
}

body.dark-mode .feed__purchase .purchase .counter .minus:hover,
body.dark-mode .feed__purchase .purchase .counter .plus:hover {
    background-color: var(--grey-600);
}

body.dark-mode .rate-items .items .item p,
body.dark-mode .rate-items .items .item span {
    color: var(--grey-300);
}
body.dark-mode .feed__service__rating .rate-items .bars .bar {
    background-color: var(--grey-300);
}

body.dark-mode .feed__service__rating .rate-items .bars span {
    color: var(--grey-400);
}

body.dark-mode .comments .user__info h3 {
    color: var(--grey-300) !important;
}

body.dark-mode .comments .user__comment {
    color: var(--grey-300) !important;
}

body.dark-mode .feed__comments .user-comment textarea {
    background-color: var(--grey-800) !important;
}

body.dark-mode .suggested__services .title h2 {
    color: var(--grey-200) !important;
}

body.dark-mode .card__body.vertical .card__info .card__footer .card__like {
    background-color: var(--grey-600) !important;
}

body.dark-mode .card__title h3,
body.dark-mode .card__user .user p,
body.dark-mode .card__price p {
    color: var(--grey-300) !important;
}

body.dark-mode .side-details__seller,
body.dark-mode .side-details__info {
    background: var(--dark-bg);
    border-bottom: 1px solid var(--grey-800);
    box-shadow: 0 5px 10px 0px var(--grey-800);
}

body.dark-mode .side-details .title,
body.dark-mode .side-details .title h3,
body.dark-mode .side-details__seller .seller__name h3,
body.dark-mode .side-details__seller .seller__bio p,
body.dark-mode .side-details__info .info__items .info__item .left-column p,
body.dark-mode .side-details__info .info__items .info__item .right-column p {
    color: var(--grey-300) !important;
}

body.dark-mode .btn.outline {
    background-color: var(--grey-800) !important;
}
