/* components\navbar\navbar.css */

@import "../../theme.css";

.navbar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-container .menu {
    margin-right: 20px;
}

.navbar-container ul.links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.navbar-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    gap: 8px;
}

.navbar-container li > i,
.navbar-container li > a {
    color: var(--grey-300);
    transition: all 0.3s ease;
    cursor: pointer;
}
.navbar-container li:hover a,
.navbar-container li:hover i,
.navbar-container a.active,
.navbar-container i.active {
    color: var(--primary-900);
    font-weight: 600;
}
.navbar-container .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.navbar-container .actions > div {
    cursor: pointer;
}

.navbar-container .actions .actions__notification,
.navbar-container .actions .actions__chat {
    position: relative;
}
.navbar-container .actions .actions__notification img,
.navbar-container .actions .actions__chat img {
    width: 27px;
    height: 27px;
}
.navbar-container .actions .actions__chat span,
.navbar-container .actions .actions__notification span {
    width: 19.2px;
    height: 19.2px;
    background-color: var(--primary-900);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    top: 5px;
    right: 5px;
    transform: translate(50%, -50%);
    pointer-events: none;
}
.navbar-container .actions .actions__profile {
    width: 43px;
    height: 43px;
    border: 2px solid var(--primary-900);
    border-radius: 50%;
    overflow: hidden;
}

.navbar-container .actions .actions__profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive */

/* Small Devices (phones, 576px and up) */
@media (max-width: 767.98px) {
    .navbar-container {
        gap: 16px;
    }
    .menu {
        display: block;
        cursor: pointer;
        z-index: 5000;
    }
    .navbar-container ul.links {
        display: none;
    }
    .sidebar {
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
    .sidebar.active {
        position: absolute;
        width: 100%;
        height: max-content;
        background-color: var(--base-white);
        border-radius: 8px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
        z-index: 9999999999;
        padding: 20px;
        top: 81px;
        left: 0;
        right: 0;
        opacity: 1;
    }

    .navbar-container .sidebar ul.links {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}

/* Medium Devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-container {
        gap: 16px;
    }
    .menu {
        display: block;
        cursor: pointer;
        z-index: 5000;
    }
    .navbar-container ul.links {
        display: none;
    }
    .sidebar {
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
    .sidebar.active {
        position: absolute;
        width: 100%;
        height: max-content;
        background-color: var(--base-white);
        border-radius: 8px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
        z-index: 9999999999;
        padding: 20px;
        top: 81px;
        left: 0;
        right: 0;
        opacity: 1;
    }

    .navbar-container .sidebar ul.links {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}

/* Large Devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1160px) {
    .navbar-container .links {
        display: flex;
        gap: 0 !important;
    }
    .menu {
        display: none;
    }
    .navbar-container .sidebar {
        display: none;
    }
}

@media (min-width: 1161px) {
    .menu {
        display: none;
    }
    .navbar-container .sidebar {
        display: none;
    }
}
