<!-- components/navbar/navbar.html -->
<div class="navbar-container">
    <div>
        <img src="assets/images/logo.png" alt="logo" class="logo">
    </div>
    <ul class="links">
    </ul>
    <div class="actions">
        <div class="actions__chat">
            <span>10</span>
            <img src="../../assets/images/ChatCircleDots.png" alt="">
        </div>
        <div class="actions__notification">
            <span>10</span>
            <img src="../../assets/images/Bell.png" alt="">
        </div>
        <div class="actions__profile" id="profile">
            <img src="assets/images/main-avatar.png" alt="user-avatar">
        </div>
    </div>
</div>

