<!-- components/navbar/navbar.html -->
<div class="navbar-container">
    <div class="menu" id="menu">
        <i class="fa-solid fa-bars close"></i>
    </div>
    <div class="sidebar">
        <ul class="links ">
        </ul>
    </div>
    <div>
        <img src="../../assets/images/logo.png" alt="logo" class="logo">
    </div>
    <ul class="links">
    </ul>

    <div class="actions">
        <div class="actions__chat">
            <span>10</span>
            <img src="../../assets/images/ChatCircleDots.png" alt="ChatCircleDots">
        </div>
        <div class="actions__notification">
            <span>10</span>
            <img src="../../assets/images/Bell.png" alt="Bell">
        </div>
        <div class="actions__profile" id="profile">
            <img src="../../assets/images/main-avatar.png" alt="user-avatar">
        </div>
    </div>
</div>