<!-- components\main\feed\feed.html -->
<div class="breadcrumb">
    <ul>
        <li>
            <a href="#"> Design </a>
        </li>
        <li>/</li>
        <li>
            <a href="#"> Logo Design </a>
        </li>
    </ul>
</div>

<div class="feed__title">
    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam nisi, cras neque Lorem ipsum dolor sit amet, </h1>

    <div class="feed__details">
        <div class="feed__rating">
            <div class="rate">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star empty"></i>
            </div>
            <p>4.1 (500)</p>

        </div>
        <div class="feed__actions">
            <i class="fa-solid fa-share-nodes"></i>
            <i class="fa-regular fa-heart"></i>
        </div>
    </div>
</div>

<div class="feed__carousel">
    <div class="carousel">
        <div class="carousel__items"></div>
        <div class="carousel__dots"></div>
        <div class="carousel__indicators">
            <div class="carousel__prev">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            <div class="carousel__next active">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </div>
</div>

<div class="feed__description">
    <h2>Description</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam nisi, cras neque Lorem ipsum dolor sit amet, Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Diam nisi, cras neque Lorem ipsum dolor sit amet, Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Diam nisi, cras neque Lorem ipsum dolor sit amet, Lorem ipsum dolor
        sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam nisi, cras neque Lorem ipsum dolor sit
        amet.</p>
</div>

<div class="feed__services">
    <header>
        <h2>Service Add-Ons</h2>
        <div class="select-all__wrapper">
            <div class="select select-all ">
                <i class="fa-solid fa-check"></i>
                <input type="checkbox" name="select-all" id="select-all">
            </div>
            <label for="select-all">Select All</label>
        </div>
    </header>

    <div class="service__items">
    </div>
</div>

<div class="feed__purchase">
    <h2>Purchase Service</h2>
    <div class="purchase">
        <div class="counter">
            <div class="minus" id="minus">
                <i class="fa-solid fa-minus"></i>
            </div>
            <span id="counterValue">3</span>
            <div class="plus" id="plus">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <span class="total" id="total"></span>
        <button>Purchase</button>
    </div>
</div>

<div class="feed__service__rating">
    <div class="title">
        <i class="fa-solid fa-star"></i>
        <h2>4.6 Service Rating . 46 Ratings</h2>
    </div>
    <div class="rate-items">
        <div class="items">
            <div class="item">
                <p>Work Quality</p>
                <i class="fa-solid fa-star"></i>
                <span>5.0</span>
            </div>
            <div class="item">
                <p>Communication & Collaboration</p>
                <i class="fa-solid fa-star"></i>
                <span>5.0</span>
            </div>
            <div class="item">
                <p>Adherence to Schedule</p>
                <i class="fa-solid fa-star"></i>
                <span>5.0</span>
            </div>
        </div>
        <div class="stars">
            <div class="item">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star empty"></i>
            </div>
            <div class="item">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star empty"></i>
            </div>
            <div class="item">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star empty"></i>
            </div>
        </div>
        <div class="bars">
            <div class="item">
                <div class="bar"></div>
                <span>4</span>
            </div>
            <div class="item">
                <div class="bar"></div>
                <span>4</span>
            </div>
            <div class="item">
                <div class="bar"></div>
                <span>4</span>
            </div>
        </div>
    </div>
</div>