/* components\main\feed\feed.css */

/* Start breadcrumb */
.breadcrumb {
    margin-bottom: 24px;
}
.breadcrumb ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumb ul li a {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    letter-spacing: 0.09px;
    color: var(--grey-400);
}
/* End breadcrumb */

/* Start feed__title */
.feed__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 28px;
}

.feed__title h1 {
    color: var(--base-black);
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.12px;
}

.feed__details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed__details .feed__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.feed__rating p {
    color: var(--grey-500, #696f79);
    font-size: 16px;
    font-weight: 500;
    line-height: 123%;
    letter-spacing: 0.08px;
}

.feed__details .feed__actions i {
    color: var(--grey-400);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* End feed__title */

/* Start feed__carousel */
.feed__carousel {
    margin-top: 45px;
    padding: 0 23px;
    max-width: 850px;
    max-height: 431px;
}

.feed__carousel .carousel {
    position: relative;
    text-align: center;
}

.feed__carousel .carousel__items {
    overflow: hidden;
    display: flex;
    transition: transform 0.5s ease;
    border-radius: 10px;
}

.feed__carousel .carousel__items .carousel__item {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
}

.feed__carousel .carousel__items .carousel__item.active {
    transform: translateX(0%);
}

.feed__carousel .carousel__items img {
    width: 850px;
    height: 431px;
    object-fit: contain;
}
.feed__carousel .carousel__dots {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    z-index: 999;
}

.feed__carousel .carousel__dots .dot {
    background-color: var(--grey-200);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.feed__carousel .carousel__dots .dot.active {
    background-color: var(--primary-900);
}

.carousel__indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    z-index: 999;
}

.carousel__indicators div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--grey-200);
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.carousel__indicators div:hover,
.carousel__indicators div.active:hover {
    opacity: 1;
}

.carousel__indicators div i {
    color: var(--base-white);
}

.carousel__indicators div.active {
    opacity: 0.8;
    background-color: var(--base-white);
}

.carousel__indicators div.active i {
    color: var(--primary-900);
}
/* End feed__carousel */

/* Start feed__description */
.feed__description {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.feed__description p {
    text-align: justify;
    padding: 32px 14px 32px 20px;
}

/* End feed__description */

/* Start feed__services */
.feed__services {
    margin-top: 48px;
}

.feed__services header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.feed__services .select-all__wrapper,
.feed__services .select-item__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.feed__services .select {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    border: 1px solid var(--grey-300);
    transition: all 0.3s ease;
}

.feed__services .select input {
    visibility: hidden;
    width: 0;
}
.feed__services .select.checked {
    background-color: var(--primary-900);
    border: 1px solid var(--primary-900);
}

.feed__services .select.checked i {
    color: var(--base-white);
}

.feed__services .select-all {
    width: 20px;
    height: 20px;
}
.feed__services .select-item {
    width: 30px;
    height: 30px;
}

.feed__services .select-all i {
    font-size: 10px;
    color: var(--grey-300);
}

.feed__services .select-all__wrapper label {
    color: var(--grey-300);
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.09px;
}

.feed__services .select-item i {
    color: transparent;
}

.service__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.service__item {
    padding: 30px 20px;
}

.service__item .details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 24px;
}

.service__item .details div {
    padding: 10px 5px;
    background: var(--primary-100);
    border-radius: 8px;
}

.service__item .details div span {
    color: var(--primary-900);
    font-size: 16px;
    font-weight: 500;
    line-height: 123%;
    letter-spacing: 0.08px;
}
/* End feed__services */

/* Start feed__purchase */
.feed__purchase {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.feed__purchase .purchase {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.feed__purchase .purchase .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding: 10px 110px;
}
.feed__purchase .purchase .counter .minus,
.feed__purchase .purchase .counter .plus {
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    background-color: var(--base-white);
    box-shadow: 0px 3px 2px var(--grey-300);
    cursor: pointer;
    transition: all 0.5s ease;
}

.feed__purchase .purchase .counter .plus:hover,
.feed__purchase .purchase .counter .minus:hover {
    background-color: var(--grey-100);
}
.feed__purchase .purchase .counter i {
    color: var(--primary-900);
}

.feed__purchase .purchase .counter span {
    color: var(--base-black);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 123%;
    letter-spacing: 0.08px;
}
.feed__purchase .purchase .total {
    color: var(--base-black);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 123%;
    letter-spacing: 0.08px;
}

.feed__purchase .purchase button:hover {
    opacity: 0.8;
}

/* End feed__purchase */

/* Start feed__service__rating */
.feed__service__rating {
    margin-top: 112px;
}

.feed__service__rating .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.feed__service__rating .rate-items {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

.feed__service__rating .rate-items .items,
.feed__service__rating .rate-items .stars,
.feed__service__rating .rate-items .bars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.rate-items .items .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.feed__service__rating .rate-items .bars .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.feed__service__rating .rate-items .bars .bar {
    position: relative;
    width: 311px;
    height: 8px;
    background: var(--grey-200);
    border-radius: 6px 0px 0px 6px;
}

.feed__service__rating .rate-items .bars .bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: var(--warning-300);
    border-radius: 6px 0px 0px 6px;
    transition: all 0.5s ease;
}
/* End feed__service__rating */

/* Start feed__comments */
.feed__comments {
    margin-top: 16px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 64px;
}

.feed__comments .comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 18px;
}

.feed__comments .comments .comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.feed__comments .comments .comment .user__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.feed__comments .comments .comment .user__info .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.feed__comments .comments .comment .user__info .info h3 {
    color: var(--base-black);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.feed__comments .comments .comment .user__info .time {
    color: var(--grey-400, #8692a6);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
}

.feed__comments .comments .comment .user__comment {
    color: var(--grey-800, #333);
    padding: 0 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.feed__comments .user-comment {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.feed__comments .user-comment div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.feed__comments .user-comment textarea {
    width: 771px;
    height: 168px;
    border: none;
    font-family: Montserrat;
    color: var(--grey-400, #8692a6);
    padding: 10px 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.08px;
    resize: none;
}
/* End feed__comments */

/* Small Devices (phones, 576px and up) */
@media (max-width: 767.98px) {
    .feed__carousel .carousel__items img {
        width: 100% !important;
        height: 100% !important;
    }
    .feed__services .select {
        padding: 5px !important;
    }

    .feed__purchase .purchase .counter {
        padding: 10px !important;
    }
    .feed__purchase .purchase .btn {
        width: 100% !important;
    }

    .feed__service__rating .rate-items .stars,
    .feed__service__rating .rate-items .bars {
        display: none;
    }
    .rate-items .items .item {
        gap: 2px;
    }
    .feed__comments .user-comment textarea {
        width: 250px;
    }
}

/* Medium Devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .feed__carousel .carousel__items img {
        width: 100% !important;
        height: 100% !important;
    }
    .feed__services .select {
        padding: 5px !important;
    }

    .feed__purchase .purchase .counter {
        padding: 10px !important;
    }
    .feed__purchase .purchase .btn {
        width: 100% !important;
    }

    .feed__service__rating .rate-items .stars,
    .feed__service__rating .rate-items .bars {
        display: none;
    }
    .rate-items .items .item {
        gap: 2px;
    }
    .feed__comments .user-comment textarea {
        width: 250px;
    }
}

@media (min-width: 992px) and (max-width: 1440px) {
    .feed__carousel .carousel__items img {
        width: 100% !important;
        height: 100% !important;
    }
    .feed__services .select {
        padding: 5px !important;
    }

    /* .feed__purchase .purchase .counter {
        padding: 10px !important;
    }
    .feed__purchase .purchase .btn {
        width: 100% !important;
    } */

    .feed__service__rating .rate-items .stars,
    .feed__service__rating .rate-items .bars {
        display: none;
    }
    .rate-items .items .item {
        gap: 2px;
    }
    .feed__comments .user-comment textarea {
        width: 250px;
    }
}
