<!-- components\main\sideDetails\side-details.html -->

<div class="side-details__seller">
    <p class="title">Seller</p>

    <div class="seller__info">
        <div class="seller__image">
            <img src="./assets/images/PosterAvatar.png" alt="main-avatar">
            <div class="online"></div>
        </div>

        <div class="seller__name">
            <h3>Jane Smith</h3>
            <img src="./assets/images/sealCheck.png" alt="seal">
        </div>

        <div class="seller__location">
            <i class="fa-solid fa-location-dot"></i>
            <p>Cairo, Egypt</p>
        </div>

        <div class="seller__rating">
            <div class="rate">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star empty"></i>
            </div>
            <p>4.1 (500)</p>
        </div>

        <div class="seller__trophies">
            <img src="./assets/images/medal.png" alt="trophy">
            <img src="./assets/images/signin.png" alt="trophy">
            <img src="./assets/images/identificationcard.png" alt="trophy">
        </div>

        <div class="seller__bio">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
                Lorem ipsum dolor sit amet..
            </p>
        </div>

        <button class="btn outline">Contact Me</button>
    </div>
</div>

<div class="side-details__info">
    <p class="title">Info</p>

    <div class="info__items"></div>
</div>

<div class="side-details__social">
    <p class="title">Share & Earn</p>

    <div class="social__items">
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-square-whatsapp"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-regular fa-clone"></i>
    </div>
</div>

<div class="side-details__other-services">
    <div class="title">
        <h3>Other Services</h3>
        <p>see more</p>
    </div>

    <div class="other-services__items"></div>
</div>