<!-- components/userProfile/userProfile.html -->
<div class="profile-menu">
    <div class="user">
        <img src="assets/images/main-avatar.png" alt="">
        <div class="user__info">
            <h3>Ahmed Ali</h3>
            <p>Student</p>
        </div>
    </div>
    <ul>
        <li>
            <i class="fa-regular fa-circle-user"></i>
            <p>
                Profile
            </p>
        </li>
        <li>
            <i class="fa-regular fa-moon"></i>
            <p>
                Dark Mode
            </p>
            <div class="toggle " id="toggle">
                <div></div>
            </div>
        </li>
        <li>
            <i class="fa-solid fa-language"></i>
            <p>
                Language
            </p>

            <p id="language">
                العربية
            </p>

            <div class="line"></div>
            <img src="assets/images/saudi.png" alt="">
        </li>
        <li>
            <i class="fa-solid fa-gear"></i>
            <p>
                Acount Settings
            </p>
        </li>
        <li class="logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <p>
                Log Out
            </p>
        </li>
    </ul>
</div>